<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.patrickarungari.tukenyahub">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".Modules.TukenyaCustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/tuk_chat"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <provider
            android:name="com.pushlink.android.FileProvider"
            android:authorities="com.patrickarungari.tukenyahub"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/BrandedLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SplashActivity">
        </activity>
        <activity android:name=".Activities.ExaminationActivity">
        </activity>
        <activity android:name=".chatApp.MessengerMain">
        </activity>
        <activity android:name=".Activities.SignupActivity" >

        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.AcademicServicesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!--https://firebase.google.com/docs/notifications/android/console-audience-->
        <service android:name=".utils.ChatFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_icon" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
        notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue_500" />

        <!--A service that extends FirebaseInstanceIdService to handle the creation, rotation,
        and updating of registration tokens.
         This is required for sending to specific devices or for creating device groups.-->

    </application>

</manifest>